<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>简易计算器v-model命令的运用</v-model></title>
    <style>
        /* 去除input为number类型时后面的选择下拉框 */
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
</head>
<body>
    <section id="app">
        <input type="number" v-model="v1">
        <select v-model="option">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="number" v-model="v2">
        <button type="button" @click="operate">=</button>
        <input type="number" v-model="result">
    </section>
</body>
<script src="./js/vue.js"></script>
<script>
    let vm = new Vue({
        el: "#app",
        data: {
            v1: 0,
            v2: 0,
            result: 0,
            option: "+"
        },
        methods: {
            operate(){
                switch(this.option){
                    case "+":
                        this.result = parseFloat(this.v1) + parseFloat(this.v2);
                        break;
                    case "-":
                        this.result = parseFloat(this.v1) - parseFloat(this.v2);
                        break;
                    case "*":
                        this.result = parseFloat(this.v1) * parseFloat(this.v2);
                        break;
                    case "/":
                        this.result = parseFloat(this.v1) / parseFloat(this.v2);
                        break;
                }
                
            }
        }
    });
</script>
</html>